.btn-search {
  background-color: #00aa91;
}
.search-container {
  background-color: white;
  width: 39vw;
  padding: 5px;
  display: block;
  margin: 10px auto;
}

.take-action-container {
  background-color: #75cff0;
}
.main-container {
  display: flex;
  margin: auto 0px;
  flex-direction: column;
}
/* Header styling */
.take-action-header {
  background: #e4003b;
}
.take-action-nav {
  display: flex;
  justify-content: space-around;
}
.navbar-brand {
  width: 70px;
  height: 55px;
  box-flex-group: #e4003b;
}
.header-nav-items {
  margin-left: 10px;
  box-flex-group: green;
}
.create-event {
  padding: 0px 5px;
  height: auto;
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 5px;
}
/* End of header */
.image-container {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
}
.image-container img {
  width: 100%;
  height: auto;
}
/* Footer styling */
.tack-action-footer-container {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}
.footer-first-child {
  width: 30%;
  margin-top: 25px;
}
.footer-first-child p {
  font-size: 13px;
}
.footer-second-child {
  width: 10%;
  text-align: right;
  margin-top: 25px;
}
.footer-second-child li {
  font-size: 11px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .search-container {
    background-color: white;
    width: 95%;
    padding: 5px;
    display: block;
    margin: 10px auto;
  }
}

/* Footer media */
@media only screen and (max-width: 400px) {
.tack-action-footer-container {
    display: flex;
flex-direction: column;
margin: 0 auto;
align-items: center;
justify-content: center;
}
.footer-first-child {
  width: 90%;
  margin-top: 25px;
}
.footer-second-child {
  width: 90%;
  text-align: left;
  margin-top: 25px;
  margin-left: 0px;

}
}
